#update-timeout-modal .modal-body {
    padding-top: 40px;
}

.update-timeout-info {
    line-height: 22px;
}

.update-timeout-label {
    position: relative;
    right: 3px;
    display: inline-block;
    text-align: right;
    width: 100px;
}

.update-timeout-value {
    font-size: 22px;
    display: inline-block;
    width: 100px;
    text-align: left;
    white-space: nowrap;

}

#period-slider {
    margin: 20px 15px 80px 10px;
}

#period-slider.noUi-connect {
  background: #22bc66;
}

#grace-slider, #nag-slider{
    margin: 20px 15px 110px 10px;
}

#grace-slider.noUi-connect{
  background: #f0ad4e;
}
#nag-slider.noUi-connect{
    background: #ff0000;
  }

#period-slider .noUi-value, #grace-slider .noUi-value {
    width: 60px;
    margin-left: -30px;
}

.update-timeout-terms {
    color: #999;
}

.update-timeout-terms p {
    margin: 0;
}


.update-timeout-terms span {
    font-weight: bold;
}

.label-tag {
    background-color: #eee;
    color: #555;
    font-style: normal;
}


#show-usage-modal  .modal-dialog {
     width: 1100px;
 }

 #show-usage-modal .tab-content {
     margin-top: 15px;
 }

 /* styles for on and off button*/
.onoffswitch {
    position: relative; width: 70px;
    margin-left: 45px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #F1F1F1; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #22BC66; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #F1F1F1; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}